{% extends 'base.html' %}

{%block header %}
    <h1>{% block title %}Notes{%endblock%}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('note.create')}}">New</a>
    {%endif%}
{%endblock%}

{% block content %}
    <div class="wrapper">
    {% for note in notes %}
        <article class="note">
            <header>
                <div>
                    <a class="action" href="{{ url_for('note.update', id=note['id'])}}"><h1>{{note['title']}}</h1></a>
                    <div class="about">Created: {{note['created'].strftime('%Y-%m-%d %H:%M:%S')}}</div>
                    <div class="about">Modified: {{note['modified'].strftime('%Y-%m-%d %H:%M:%S')}}</div>
                </div>
            </header>
            <p class = "body">
                <md>{{note['body']}}</md>
            </p>
        </article>
    {%endfor%}
    </div>
    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script> 
{%endblock%}